

/* 📲 TABLET */
@media (min-width: 768px) {
   .layout{
    width: 80%;
   }
   .layout__header{
    width: 40%;
   }

   .layout_menu{
    height: 250px;
   }

   .layout_article{
    flex-direction:column ;
   }

   .aside__section{
    width: 90%;
    margin: 0 auto;
   }

   .layout__footer{
    width: 80%;
   }

}

/* 💻 DESKTOP */
@media (min-width: 1024px) {
   
}

/* 🖥 GRANDE */
@media (min-width: 1400px) {
   
}



